<footer class="footer_section">
    <hr>
<div class="row">
    <div class="col-sm-3">
        <span class="footer-logo">OptionsZA</span><br>
        <a href="#"> <i class="fa fa-facebook me-5" style="color: black;"></i></a>
        <a href="#"> <i class="fa fa-instagram me-5" style="color: black;"></i></a>
        <a href="#"> <i class="fa fa-twitter me-5" style="color: black;"></i></a>
    </div>
    <div class="col-sm-3">
        <span class="subheader2">Services</span><br>
        <span class="footer-body">Specials</span><br>
        <span class="footer-body">Advertise your specials</span>
    </div>
    <div class="col-sm-3">
        <span class="subheader2">Information</span><br>
        <span class="footer-body">Contact us</span><br>
        <span class="footer-body">Privacy Policy</span><br>
        <span class="footer-body">Terms of Service</span>
    </div>
    <div class="col-sm-3">
        <span class="subheader2">Contact Info</span><br>
        <span class="footer-body">+27(11) 234-4455</span><br>
        <span class="footer-body">help@optionza.com</span>
    </div>
</div>    
</footer>