<nav class="navbar navbar-expand-lg navbar-light bg-blue fixed-top pt-4 pb-4">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link" routerLinkActive="active">About</a>
                <a routerLink="contact" class="nav-item nav-link" routerLinkActive="active">Contact us</a>
                <a href="#" class="nav-item nav-link" routerLinkActive="active">Partners</a>
            </div>
    </div>
</nav>