<body>
    <section class="row section1 wrapper">
        <div class="col-sm-6 title">
            <span class="logo">OptionsZA</span><br>
            <span class="subtext">From the people. For the people.</span>
            <form action="" class="form-inline mt-4">
                <div class="form-group row">
                    <input type="text" class="form-control textbox col-sm-4" placeholder="&#xf041; Enter your address" style="font-family:Arial, FontAwesome">
                    <button class="btn btn-secondary col-sm-2 ms-2">Find Specials</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="banner">
                <img src="../../assets/food-13628.png" alt="">
            </div>
        </div>
    </section>
    <section class="row section2 wrapper">
        <span class="toptext text-center">Your one stop specials.</span><br>
        <span class="toptext text-center">All in one place.</span>
        <div class="row mt-5 box">
            <div class="col-sm-6">
                <img class="pics" src="https://img.mrdfood.com/0x1029/filters:format(webp)/seo/7a29a943-27cf-4946-a61c-0c5168929813.jpg" alt="">
            </div>
            <div class="col-sm-6">
                <span class="subheader">About us.</span><br>
                <span class="bodytext">Lorem ipsum dolorsitamet,consecteturadipiscingelit,sed
                    doeiusmodtemporincididuntutlaboreetdoloremagna
                    aliqua.Quisipsum suspendisseultricesgravida.Risuscom-
                    modoviverramaecenasaccumsanlacusvelfacilisis</span><br>
                <button class="btn btn-secondary mt-2">Learn More</button>
            </div>
        </div>
        <div class="row mt-5 box">
            <div class="col-sm-6 align-middle">
                <span class="subheader">Get in touch with our team.</span><br>
                <span class="bodytext">Lorem ipsum dolorsitamet,consecteturadipiscingelit,sed</span><br>
                <button class="btn btn-secondary mt-2">Contact Us</button>
            </div>
            <div class="col-sm-6">
                <img class="pics" src="https://img.mrdfood.com/0x1029/filters:format(webp)/seo/24748797-d535-430b-8ee2-7d20da5e720a.png" alt="">
            </div>
        </div>
        <div class="row mt-5 box">
            <div class="col-sm-6">
                <img class="pics" src="https://img.mrdfood.com/0x1029/filters:format(webp)/seo/05edce54-7d73-464e-b4a2-1d4a5ba9f009.png" alt="">
            </div>
            <div class="col-sm-6 align-middle">
                <span class="subheader">Download the App.</span><br>
                <span class="bodytext">Lorem ipsum dolorsitamet,consecteturadipiscingelit,sed
                    doeiusmodtemporincididuntutlaboreetdoloremagna
                    aliqua.Quisipsum suspendisseultricesgravida.Risuscom-
                    modoviverramaecenasaccumsanlacusvelfacilisis</span><br>
                <button class="btn btn-secondary mt-2">Learn More</button>
            </div>
        </div>
        <app-footer></app-footer>
    </section>
</body>